// Add your custom CSS here.
.order-info__toggle {
display: none !important;
}
button.close {
    position: absolute;
    right: 10px;
    top: 10px;
}
@media (min-width: 992px) {
    .gallery__item--video {
        background: red;
        border-radius: 5px;
        color: #fff;
        font-size: 12px !important;
        font-weight: bold;
        opacity: 1 !important;
        padding: var(--spacer-2) 0;
    }
}
